body
{
  font-size:20px;
}

button
{
  height:60px;
  font-size:20px;
  color:white;
  background-color:darkblue;
  transition-duration:300ms;
}

button:hover
{
  background-color:darkred;
  cursor:pointer;
  font-size:21px;
  transition-duration:300ms;
}
