body
{
  color:white;
  background-color:lawngreen;
}

h1
{
  color:green;
}

.menu
{
  width:120px;
  height:500px;
  color:black;
  background-color:white;
}

a:link
{
  color:black;
  text-decoration:none;
}

a:hover
{
  text-decoration:solid underline;
}
